.input-container {
  input {
    transition: border 0.2s ease-in-out;
    min-width: 280px;
    &:focus + label,
    &:active + label,
    &.filled + label {
      font-size: 0.75rem;
      transition: all 0.2s ease-out;
      top: -0.1rem;
      @apply text-primary;
    }
  }

  label {
    transition: all 0.2s ease-out;
    top: 0.4rem;
    left: 0;
  }
}
