@import "../../styles/variables.scss";

.toggleSwitch {
  .input-checkbox {
    &.checked {
      right: 0;
      border-color: $primary-color;
      & + .toggle-label {
        background-color: $primary-color;
      }
    }
  }
}
