@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

a {
  @apply text-primary;
}

a:hover {
  @apply underline;
}

span,
p {
  @apply font-light;
}

h1 {
  @apply text-4xl;
  @apply text-gray-800;
  @apply font-semibold;
  @apply mb-2;
}

h2 {
  @apply text-2xl;
  @apply text-gray-800;
  @apply font-semibold;
}

// #__next {
//   height: 100%;
// }

// #layout {
//   min-height: 100%;
//   display: grid;
//   grid-template-rows: auto 1fr auto;
//   grid-template-columns: 100%;
//   justify-items: center;
// }

/* Styles for lazy loaded images */
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
